---
import '@fontsource-variable/onest'

interface Props {
	title?: string
	description?: string
}

const {
	title = 'Iván García Ballesteros - Frontend Developer',
	description = 'Porfolio personal de Iván García Ballesteros - Frontend Developer'
} = Astro.props
---

<!doctype html>
<html lang='es' class='scroll-smooth'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta property='og:image' content='/public/img/igarba.webp' />
		<meta property='og:title' content={title} />
		<meta property='og:description' content={description} />
		<meta property='og:site_name' content={title} />
		<meta property='og:type' content='website' />
		<title>{title}</title>
	</head>

	<body class='flex flex-col justify-center items-center | overflow-x-hidden | bg-black'>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		font-family: 'Onest Variable', system-ui, sans-serif;
	}
</style>
